<?php

use App\entities\FilmsImportQueue;
use Core\web\Url;
use Core\web\View;

/** @var View $this */
/** @var FilmsImportQueue[] $history */
/** @var string[] $statuses */
/** @var string $storage */
/** @var string[] $pages */
$user = App::$app->user;

?>
<div class="row">
    <div class="col-12"><br></div>
</div>
<div class="row">
    <div class="col-12 d-inline-flex justify-content-between align-items-center">
        <div class="p-2 w-100">
            <span class="h4">Films importing queues history</span>
            <a href="<?= Url::to('filmsImportingHistory/index') ?>">(Refresh)</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="btn-group">
                    <button class="btn input-group-append form-control btn-outline-primary"
                            data-toggle="modal" data-target="#filmsImportModalCenter">
                        Import more...
                    </button>
                </div>
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <td>File</td>
                        <td>Worker ID</td>
                        <td>Status</td>
                        <td>Error Message</td>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($history as $queue): ?>
                        <tr class="alert alert-<?= empty($queue->getError()) ?
                            ($queue->getStatus() > 1 ? 'success' : 'info') :
                            'danger' ?>">
                            <td>
                                <a href="<?= Url::to(sprintf('%s/%s', $storage, $queue->getFile())) ?>" download>
                                    <?= $queue->getFile() ?>
                                </a>
                            </td>
                            <td><?= $queue->getWorkerId() ?></td>
                            <td><?= $statuses[(string) $queue->getStatus()] ?></td>
                            <td><?= $queue->getError() ?? 'No errors :)' ?></td>
                        </tr>
                    <?php endforeach; ?>
                    <?php if (empty($history)): ?>
                        <tr>
                            <td colspan="4" class="list-group-item alert-warning text-center">No queues found :(</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                <?= $this->render('pagination', ['pages' => $pages]) ?>
            </div>
            <div class="card-footer">
                <div class="input-group">
                    <div class="btn-group">
                        <a href="<?= Url::to('films/index') ?>" class="btn btn-link" id="filmRemoveBtn">Films list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?= $this->render('films/modals/import') ?>
