<?php
/** @var string[] $errors */
$this->title = 'Sign In';
?>
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3>Sign In</h3>
        </div>
        <div class="card-body">
                <form action="/auth/signIn" method="post">
                    <?php foreach ($errors as $error) { ?>
                    <div class="alert alert-danger"><?= $error ?></div>
                    <?php } ?>
                    <label class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="login" class="form-control" placeholder="username">

                    </label>
                    <label class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="pass" class="form-control" placeholder="password">
                    </label>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary float-right login_btn">
                    </div>
                </form>
        </div>
    </div>
</div>
