<?php

use App\entities\Film;
use Core\web\Url;
use Core\web\View;

/** @var View $this */
/** @var Film[] $films */
/** @var string|null $search */
/** @var string $message */
/** @var string[] $availableFormats */
/** @var string[] $pages */
$user = App::$app->user;

?>
<?php if (!empty($message)) : ?>
    <div class="row">
        <div class="col-12"><br></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Info!</strong> <?= $message ?>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
<?php endif; ?>
<div class="row">
    <div class="col-12"><br></div>
</div>
<div class="row">
    <div class="col-12 d-inline-flex justify-content-between align-items-center">
        <div class="p-2 w-100"><span class="h4">Films list</span></div>
        <form class="input-group col-md-4">
            <input class="form-control py-2" type="search" name="search" id="filmsSearchInput">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </form>
        <?php if ($user->isLoggedIn()): ?>
            <div class="p-2 btn-group">
                <button class="btn input-group-append form-control btn-outline-primary" data-toggle="modal"
                        data-target="#filmAddModalCenter">Add
                </button>
                <button class="btn input-group-append form-control btn-outline-secondary" data-toggle="modal"
                        data-target="#filmsImportModalCenter">Import
                </button>
            </div>
        <?php endif; ?>
    </div>
</div>
<div class="row">
    <div class="col-12"><br></div>
</div>
<div class="row">
    <div class="col-12 card">
        <?php if (!empty($search)): ?>
            <div class="card-header">
                <div class="list-group-item alert-info">
                    Found results for search "<?= $this->print($search) ?>" (<a href="<?= Url::to('films/index') ?>">show
                        all</a>):
                </div>
            </div>
        <?php endif; ?>
        <div class="card-body list-group">
            <?php
            foreach ($films as $film): ?>
                <a href="<?= Url::to('films/show', ['id' => $film->getId()]) ?>" class="list-group-item">
                    <?= $this->print($film->getTitle()) ?> (<?= $film->getReleaseYear() ?>)
                </a>
            <?php endforeach; ?>
            <?php if (empty($films)): ?>
                <div class="list-group-item alert-warning text-center">No films found :(</div>
            <?php endif; ?>
            <?= $this->render('pagination', ['pages' => $pages]) ?>
        </div>
    </div>
</div>

<?php if ($user->isLoggedIn()): ?>

    <?= $this->render('films/modals/import') ?>
    <?= $this->render('films/modals/add', ['availableFormats' => $availableFormats]) ?>

<?php endif; ?>
