<?php

use App\entities\Film;
use Core\web\Url;
use Core\web\View;

/** @var View $this */
/** @var Film $film */
/** @var string $removeHash */

$stars = implode(', ', array_map(function ($star) {
    $star = $this->print(trim($star));
    $url = Url::to('films/index', ['search' => $star]);
    return '<a data-toggle="tooltip" title="Search films by star name" href="' . $url . '">' . $star . '</a>';
}, explode(',', $film->getStars())));

$this->title = $film->getTitle();
$user = App::$app->user;

?>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title h4">About film:</span>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <tr>
                        <td>Title:</td>
                        <td><?= $this->print($film->getTitle()) ?></td>
                    </tr>
                    <tr>
                        <td>Release Year:</td>
                        <td><?= $this->print($film->getReleaseYear()) ?></td>
                    </tr>
                    <tr>
                        <td>Format:</td>
                        <td><?= $this->print($film->getFormat()) ?></td>
                    </tr>
                    <tr>
                        <td>Stars:</td>
                        <td><?= $stars ?></td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <div class="input-group">
                    <div class="btn-group">
                        <a href="<?= Url::to('films/index') ?>" class="btn btn-link" id="filmRemoveBtn">Films list</a>
                        <?php if ($user->isLoggedIn()): ?>
                            <button class="btn btn-danger" id="filmRemoveBtn" data-toggle="modal"
                                    data-target="#filmRemoveModalCenter">Remove
                            </button>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?= $this->render('films/modals/remove', ['film' => $film, 'removeHash' => $removeHash]) ?>
