<?php

use App\entities\Film;
use Core\web\Url;

/** @var Film $film */
/** @var string $AddHash */
/** @var string[] $availableFormats */
$currentYear = (new DateTime())->format('Y');
?>
<!-- Film Add Modal -->
<div class="modal fade" id="filmAddModalCenter" tabindex="-1" role="dialog" aria-labelledby="filmAddModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form action="<?= Url::to('films/add') ?>" class="input-group" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filmAddModalLongTitle">Add new film info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Title</span>
                        </div>
                        <input type="text" maxlength="64" name="title" class="form-control" required>
                    </label>
                    <label class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Release Year</span>
                        </div>
                        <input type="number" name="year" min="1850" max="<?= $currentYear ?>" class="form-control" required>
                    </label>
                    <label class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Format</span>
                        </div>
                        <select name="format" class="form-control" required>
                            <option value="">Select...</option>
                            <?php foreach ($availableFormats as $format): ?>
                                <option value="<?= $format ?>"><?= $format ?></option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                    <label class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Stars</span>
                        </div>
                        <input type="text" name="stars" class="form-control" required>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>