<?php

use Core\web\Url;

?>
<!-- Films Import Modal -->
<div class="modal fade" id="filmsImportModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="filmsImportModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form action="<?= Url::to('films/import') ?>" enctype="multipart/form-data" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filmsImportModalLongTitle">Import films from file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">File</span>
                        </div>
                        <input type="file" class="form-control form-control-file" name="films" required
                               accept="text/plain">
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            </div>
        </form>
    </div>
</div>
