<?php

use App\entities\Film;

/** @var Film $film */
/** @var string $removeHash */
?>
<!-- Film Remove Modal -->
<div class="modal fade" id="filmRemoveModalCenter" tabindex="-1" role="dialog" aria-labelledby="filmRemoveModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form action="/films/remove" class="input-group" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filmRemoveModalLongTitle">Remove film</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This film will be removed from the server. Are you wish to continue?
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" value="<?= $film->getId() ?>">
                    <input type="hidden" name="hash" value="<?= $removeHash ?>">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </form>
    </div>
</div>
