<?php

use Core\web\Url;

$user = App::$app->user;
?>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?= $this->title ?></title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/all.min.css">
    <script src="/resources/js/jquery-3.5.1.min.js"></script>
    <script src="/resources/js/bootstrap.js"></script>
    <?= $this->headEnd ?>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand"><img src="/favicon.ico" style="max-width: 28px" alt="favicon">
            <?= App::$app->config['name'] ?>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <?php if ($user->isLoggedIn()): ?>
                    <li class="dropdown order-1">
                        <button type="button" id="dropdownMenu1" data-toggle="dropdown"
                                class="btn btn-outline-secondary dropdown-toggle">
                            <?= $user->getLogin() ?> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                <a href="<?= Url::to('filmsImportingHistory/index') ?>" class="btn btn-outline-dark">
                                    Import history
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="px-3 py-2">
                                <a href="<?= Url::to('auth/logout') ?>" class="btn btn-danger">
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </li>
                <?php else: ?>
                    <li class="nav-link">
                        <a href="<?= Url::to('auth/signIn') ?>" class="btn btn-secondary">Sign In</a>
                    </li>
                <?php endif; ?>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <?= $this->content ?>
</div>
<div class="footer">
    <div class="container">
        <br>
    </div>
</div>
</body>
<?= $this->pageEnd ?>
</html>
