<?php

use Core\web\View;

/** @var View $this */
/** @var array $pages */
?>
<?php if (count($pages) > 1): ?>
    <div class="row">
        <div class="col-12">
            <div class="card-footer">
                <form>
                    <div class="row">
                        <div class="col-md-7 col-lg-8">
                            Pages:
                            <?php foreach ($pages as $page): ?>
                                <?php if ($page['isDisabled']): ?>
                                    <button class="btn<?= $page['isActive'] ? ' btn-primary' : '' ?>"
                                            disabled><?= $page['title'] ?></button>
                                <?php else: ?>
                                    <a href="<?= $page['link'] ?>"
                                       class="btn btn-outline-primary"><?= $page['title'] ?></a>
                                <?php endif; ?>
                            <?php endforeach; ?>
                            <?php if ($pages[count($pages) - 1]['title'] > 10): ?>
                        </div>
                        <div class="col-md-5 col-lg-4">
                            <label class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Custom page:</div>
                                </div>
                                <input type="number" min="1" max="<?= $pages[count($pages) - 1]['title'] ?>"
                                       name="page"
                                       class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Go</button>
                                </div>
                            </label>
                        </div>
                        <?php endif; ?>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>
<?php endif; ?>
